### Xcode ###
## User settings
*.xcodeproj/xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

## Override
Cheli.xcodeproj/project.xcworkspace/xcuserdata
Cheli.xcodeproj/project.xcworkspace/xcuserdata/students.xcuserdatad/UserInterfaceState.xcuserstate
